html{
  height: 100%;
}

body{
  height: 100%;
  margin: 0;
}


/* Font Styles */
.title{
  font-family: 'Montserrat' !important;
  font-weight: 700 !important;
}

.field-note{
  font-family: 'Montserrat' !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
}